{% extends 'base.html.twig' %}

{% block title %}Hotel - Project {% endblock %}

{% block body %}

<h1 class="text-center my-4">Hotel</h1>
{# {% include 'include/_flashes.html.twig' %} #}

<div class="row mx-auto mb-5">

   
</div>
    
{% endblock %}